<h1>Here's all the teams!!</h1>

<table id="team_list">
  <% @teams.each do |team| %>
  <tr id="<%=team.id%>">
    <td><a href="/teams/<%= team.id %>"><%= team.name %></a></td>
    <td><a class="quick_team_delete" href="/teams/<%=team.id%>">Delete this team!</a></td>
  </tr>
  <% end %>
</table>


<form class="team_creation_form" method="post" action="/teams">
  <input class="team_text_area" type="text" name="team[name]" placeholder="Team Name"><br>
  <input class="team_text_area" type="text" name="team[sport]" placeholder="Team's Sport"><br>
  <input class="team_text_area" type="text" name="team[coach]" placeholder="Team Captain's Username"><br>
  <input type="submit" value="create new entry">
</form>

<a href="/logout">Logout!</a>
